<?xml version="1.0"?>
<config>
    <modules>
        <Den_Gloss>
            <version>1.1</version>
        </Den_Gloss>
    </modules>
    <admin>
        <routers>
            <gloss_admin>
                <use>admin</use>
                <args>
                    <module>Den_Gloss</module>
                    <frontName>gloss_admin</frontName>
                </args>
            </gloss_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <gloss>
                <use>standard</use>
                <args>
                    <module>Den_Gloss</module>
                    <frontName>gloss</frontName>
                </args>
            </gloss>
        </routers>
        <layout>
            <updates>
                <gloss module="Den_Gloss">
                    <file>den_gloss.xml</file>
                </gloss>
            </updates>
        </layout>
        <translate>
            <modules>
                <Den_Gloss>
                    <files>
                        <default>Den_Gloss.csv</default>
                    </files>
                </Den_Gloss>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Den_Gloss>
                    <files>
                        <default>Den_Gloss.csv</default>
                    </files>
                </Den_Gloss>
            </modules>
        </translate>

        <menu>
            <gloss module="gloss">
                <title>Gloss</title>
                <sort_order>71</sort_order>               
                <children>
                    <new module="gloss">
                        <title>Add Post</title>
                        <sort_order>0</sort_order>
                        <action>gloss_admin/manage_gloss/new</action>
                    </new>					
                    <posts module="gloss">
                        <title>Posts</title>
                        <sort_order>10</sort_order>
                        <action>gloss_admin/manage_gloss/index</action>
                    </posts>
                    <comment module="gloss">
                        <title>Comments</title>
                        <sort_order>20</sort_order>
                        <action>gloss_admin/manage_comment</action>
                    </comment>
                    <cat module="gloss">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>gloss_admin/manage_cat</action>
                    </cat>
                    <settings translate="title" module="gloss">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/gloss</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </gloss>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <gloss>
                            <title>Gloss</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </gloss>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gloss>
                                            <title>aheadWorks Blog Section</title>
                                        </gloss>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <gloss module="Den_Gloss">
                    <file>den_gloss.xml</file>
                </gloss>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <gloss>
                <class>Den_Gloss_Model</class>
                <resourceModel>gloss_mysql4</resourceModel>
            </gloss>
            <gloss_mysql4>
                <class>Den_Gloss_Model_Mysql4</class>
                <entities>
                    <gloss>
                        <table>den_gloss</table>
                    </gloss>
                    <post>
                        <table>den_gloss</table>
                    </post>
                    <comment>
                        <table>den_gloss_comment</table>
                    </comment>
                    <cat>
                        <table>den_gloss_cat</table>
                    </cat>
                    <post_cat>
                        <table>den_gloss_post_cat</table>
                    </post_cat>
                    <store>
                        <table>den_gloss_store</table>
                    </store>
                    <cat_store>
                        <table>den_gloss_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>den_gloss_tags</table>
                    </tag>


                    <lgloss> 
                        <table>gloss</table>
                    </lgloss>
                    <lpost>
                        <table>gloss</table>
                    </lpost>
                    <lcomment>
                        <table>gloss_comment</table>
                    </lcomment>
                    <lcat>
                        <table>gloss_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>gloss_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>gloss_store</table>
                    </lstore>

                    <lcat_store>
                        <table>gloss_cat_store</table>
                    </lcat_store>                

                </entities>
            </gloss_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Den_Gloss_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <gloss>
                <class>Den_Gloss_Block</class>
            </gloss>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Den_Gloss_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <gloss_setup>
                <setup>
                    <module>Den_Gloss</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gloss_setup>
            <gloss_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gloss_write>
            <gloss_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gloss_read>
        </resources>
        <helpers>
            <gloss>
                <class>Den_Gloss_Helper</class>
            </gloss>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <gloss>
                        <type>singleton</type>
                        <class>Den_Gloss_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </gloss>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <gloss>
                        <type>singleton</type>
                        <class>gloss/observer</class>
                        <method>rewriteRssList</method>
                    </gloss>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_gloss_section>
                        <type>singleton</type>
                        <class>gloss/observer</class>
                        <method>addBlogSection</method>
                    </add_gloss_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>singleton</type>
                        <class>gloss/observer</class>
                        <method>provideIE9Compatibility</method>
                    </modifyheader>
                </observers>
            </http_response_send_before>
        </events> 
        <template>
            <email>
                <gloss_comments_email_template translate="label" module="gloss">
                    <label>Comment Submitted</label>
                    <file>den_gloss/comment_submitted.html</file>
                    <type>text</type>
                </gloss_comments_email_template>
            </email>
        </template>
    </global>


    <default>
        <sitemap>
            <gloss>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </gloss>
        </sitemap>
        <gloss>
            <gloss>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <glosscrumbs>1</glosscrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <userte>1</userte>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </gloss>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </gloss>
    </default>
    
     <phpunit>
        <suite>
            <modules>
                <Den_Gloss />
            </modules>
        </suite>
    </phpunit>

    
    
</config>
