<?xml version="1.0"?>
<config>
    <modules>
        <Den_Partners>
            <version>1.1</version>
        </Den_Partners>
    </modules>
    <admin>
        <routers>
            <partners_admin>
                <use>admin</use>
                <args>
                    <module>Den_Partners</module>
                    <frontName>partners_admin</frontName>
                </args>
            </partners_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <partners>
                <use>standard</use>
                <args>
                    <module>Den_Partners</module>
                    <frontName>partners</frontName>
                </args>
            </partners>
        </routers>
        <layout>
            <updates>
                <partners module="Den_Partners">
                    <file>den_partners.xml</file>
                </partners>
            </updates>
        </layout>
        <translate>
            <modules>
                <Den_Partners>
                    <files>
                        <default>Den_Partners.csv</default>
                    </files>
                </Den_Partners>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Den_Partners>
                    <files>
                        <default>Den_Partners.csv</default>
                    </files>
                </Den_Partners>
            </modules>
        </translate>

        <menu>
            <partners module="partners">
                <title>Partners</title>
                <sort_order>71</sort_order>               
                <children>
                    <new module="partners">
                        <title>Add Post</title>
                        <sort_order>0</sort_order>
                        <action>partners_admin/manage_partners/new</action>
                    </new>					
                    <posts module="partners">
                        <title>Posts</title>
                        <sort_order>10</sort_order>
                        <action>partners_admin/manage_partners/index</action>
                    </posts>
                    <comment module="partners">
                        <title>Comments</title>
                        <sort_order>20</sort_order>
                        <action>partners_admin/manage_comment</action>
                    </comment>
                    <cat module="partners">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>partners_admin/manage_cat</action>
                    </cat>
                    <settings translate="title" module="partners">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/partners</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </partners>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <partners>
                            <title>Partners</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </partners>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <partners>
                                            <title>aheadWorks Blog Section</title>
                                        </partners>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <partners module="Den_Partners">
                    <file>den_partners.xml</file>
                </partners>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <partners>
                <class>Den_Partners_Model</class>
                <resourceModel>partners_mysql4</resourceModel>
            </partners>
            <partners_mysql4>
                <class>Den_Partners_Model_Mysql4</class>
                <entities>
                    <partners>
                        <table>den_partners</table>
                    </partners>
                    <post>
                        <table>den_partners</table>
                    </post>
                    <comment>
                        <table>den_partners_comment</table>
                    </comment>
                    <cat>
                        <table>den_partners_cat</table>
                    </cat>
                    <post_cat>
                        <table>den_partners_post_cat</table>
                    </post_cat>
                    <store>
                        <table>den_partners_store</table>
                    </store>
                    <cat_store>
                        <table>den_partners_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>den_partners_tags</table>
                    </tag>


                    <lpartners> 
                        <table>partners</table>
                    </lpartners>
                    <lpost>
                        <table>partners</table>
                    </lpost>
                    <lcomment>
                        <table>partners_comment</table>
                    </lcomment>
                    <lcat>
                        <table>partners_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>partners_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>partners_store</table>
                    </lstore>

                    <lcat_store>
                        <table>partners_cat_store</table>
                    </lcat_store>                

                </entities>
            </partners_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Den_Partners_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <partners>
                <class>Den_Partners_Block</class>
            </partners>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Den_Partners_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <partners_setup>
                <setup>
                    <module>Den_Partners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partners_setup>
            <partners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partners_write>
            <partners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partners_read>
        </resources>
        <helpers>
            <partners>
                <class>Den_Partners_Helper</class>
            </partners>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <partners>
                        <type>singleton</type>
                        <class>Den_Partners_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </partners>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <partners>
                        <type>singleton</type>
                        <class>partners/observer</class>
                        <method>rewriteRssList</method>
                    </partners>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_partners_section>
                        <type>singleton</type>
                        <class>partners/observer</class>
                        <method>addPartnersSection</method>
                    </add_partners_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>singleton</type>
                        <class>partners/observer</class>
                        <method>provideIE9Compatibility</method>
                    </modifyheader>
                </observers>
            </http_response_send_before>
        </events> 
        <template>
            <email>
                <partners_comments_email_template translate="label" module="partners">
                    <label>Comment Submitted</label>
                    <file>den_partners/comment_submitted.html</file>
                    <type>text</type>
                </partners_comments_email_template>
            </email>
        </template>
    </global>


    <default>
        <sitemap>
            <partners>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </partners>
        </sitemap>
        <partners>
            <partners>
                <enabled>1</enabled>
                <title>Partners</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <partnerscrumbs>1</partnerscrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-left.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <userte>1</userte>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </partners>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </partners>
    </default>
    
     <phpunit>
        <suite>
            <modules>
                <Den_Partners />
            </modules>
        </suite>
    </phpunit>

    
    
</config>
