<?xml version="1.0"?>
<config>
    <modules>
        <Den_Reviews>
            <version>1.1</version>
        </Den_Reviews>
    </modules>
    <admin>
        <routers>
            <reviews_admin>
                <use>admin</use>
                <args>
                    <module>Den_Reviews</module>
                    <frontName>reviews_admin</frontName>
                </args>
            </reviews_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Den_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </reviews>
        </routers>
        <layout>
            <updates>
                <reviews module="Den_Reviews">
                    <file>den_reviews.xml</file>
                </reviews>
            </updates>
        </layout>
        <translate>
            <modules>
                <Den_Reviews>
                    <files>
                        <default>Den_Reviews.csv</default>
                    </files>
                </Den_Reviews>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Den_Reviews>
                    <files>
                        <default>Den_Reviews.csv</default>
                    </files>
                </Den_Reviews>
            </modules>
        </translate>

        <menu>
            <reviews module="reviews">
                <title>Reviews</title>
                <sort_order>71</sort_order>               
                <children>
                  
                    <comment module="reviews">
                        <title>Comments</title>
                        <sort_order>20</sort_order>
                        <action>reviews_admin/manage_comment</action>
                    </comment>
                    <cat module="reviews">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>reviews_admin/manage_cat</action>
                    </cat>
                    <settings translate="title" module="reviews">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/reviews</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </reviews>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <reviews>
                            <title>Reviews</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </reviews>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <reviews>
                                            <title>aheadWorks Reviews Section</title>
                                        </reviews>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <reviews module="Den_Reviews">
                    <file>den_reviews.xml</file>
                </reviews>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <reviews>
                <class>Den_Reviews_Model</class>
                <resourceModel>reviews_mysql4</resourceModel>
            </reviews>
            <reviews_mysql4>
                <class>Den_Reviews_Model_Mysql4</class>
                <entities>
                    <reviews>
                        <table>den_reviews</table>
                    </reviews>
                    <post>
                        <table>den_reviews</table>
                    </post>
                    <comment>
                        <table>den_reviews_comment</table>
                    </comment>
                    <cat>
                        <table>den_reviews_cat</table>
                    </cat>
                    <post_cat>
                        <table>den_reviews_post_cat</table>
                    </post_cat>
                    <store>
                        <table>den_reviews_store</table>
                    </store>
                    <cat_store>
                        <table>den_reviews_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>den_reviews_tags</table>
                    </tag>


                    <lreviews> 
                        <table>reviews</table>
                    </lreviews>
                    <lpost>
                        <table>reviews</table>
                    </lpost>
                    <lcomment>
                        <table>reviews_comment</table>
                    </lcomment>
                    <lcat>
                        <table>reviews_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>reviews_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>reviews_store</table>
                    </lstore>

                    <lcat_store>
                        <table>reviews_cat_store</table>
                    </lcat_store>                

                </entities>
            </reviews_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Den_Reviews_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <reviews>
                <class>Den_Reviews_Block</class>
            </reviews>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Den_Reviews_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <reviews_setup>
                <setup>
                    <module>Den_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reviews_setup>
            <reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviews_write>
            <reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviews_read>
        </resources>
        <helpers>
            <reviews>
                <class>Den_Reviews_Helper</class>
            </reviews>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <reviews>
                        <type>singleton</type>
                        <class>Den_Reviews_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </reviews>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <reviews>
                        <type>singleton</type>
                        <class>reviews/observer</class>
                        <method>rewriteRssList</method>
                    </reviews>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_reviews_section>
                        <type>singleton</type>
                        <class>reviews/observer</class>
                        <method>addReviewsSection</method>
                    </add_reviews_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>singleton</type>
                        <class>reviews/observer</class>
                        <method>provideIE9Compatibility</method>
                    </modifyheader>
                </observers>
            </http_response_send_before>
        </events> 
        <template>
            <email>
                <reviews_comments_email_template translate="label" module="reviews">
                    <label>Comment Submitted</label>
                    <file>den_reviews/comment_submitted.html</file>
                    <type>text</type>
                </reviews_comments_email_template>
            </email>
        </template>
    </global>


    <default>
        <sitemap>
            <reviews>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </reviews>
        </sitemap>
        <reviews>
            <reviews>
                <enabled>1</enabled>
                <title>Reviews</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <reviewscrumbs>1</reviewscrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-left.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/ReviewsLogo.png</rssimage>
                <userte>1</userte>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </reviews>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </reviews>
    </default>
    
     <phpunit>
        <suite>
            <modules>
                <Den_Reviews />
            </modules>
        </suite>
    </phpunit>

    
    
</config>
