<?xml version="1.0"?>
<config>
    <modules>
        <Den_Faq>
            <version>1.1</version>
        </Den_Faq>
    </modules>
    <admin>
        <routers>
            <faq_admin>
                <use>admin</use>
                <args>
                    <module>Den_Faq</module>
                    <frontName>faq_admin</frontName>
                </args>
            </faq_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <faq>
                <use>standard</use>
                <args>
                    <module>Den_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </faq>
        </routers>
        <layout>
            <updates>
                <faq module="Den_Faq">
                    <file>den_faq.xml</file>
                </faq>
            </updates>
        </layout>
        <translate>
            <modules>
                <Den_Faq>
                    <files>
                        <default>Den_Faq.csv</default>
                    </files>
                </Den_Faq>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Den_Faq>
                    <files>
                        <default>Den_Faq.csv</default>
                    </files>
                </Den_Faq>
            </modules>
        </translate>

        <menu>
            <faq module="faq">
                <title>Faq</title>
                <sort_order>71</sort_order>               
                <children>
                    <new module="faq">
                        <title>Add Post</title>
                        <sort_order>0</sort_order>
                        <action>faq_admin/manage_faq/new</action>
                    </new>					
                    <posts module="faq">
                        <title>Posts</title>
                        <sort_order>10</sort_order>
                        <action>faq_admin/manage_faq/index</action>
                    </posts>
                    <comment module="faq">
                        <title>Comments</title>
                        <sort_order>20</sort_order>
                        <action>faq_admin/manage_comment</action>
                    </comment>
                    <cat module="faq">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>faq_admin/manage_cat</action>
                    </cat>
                    <settings translate="title" module="faq">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/faq</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </faq>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <faq>
                            <title>Faq</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </faq>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <faq>
                                            <title>aheadWorks Blog Section</title>
                                        </faq>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <faq module="Den_Faq">
                    <file>den_faq.xml</file>
                </faq>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <faq>
                <class>Den_Faq_Model</class>
                <resourceModel>faq_mysql4</resourceModel>
            </faq>
            <faq_mysql4>
                <class>Den_Faq_Model_Mysql4</class>
                <entities>
                    <faq>
                        <table>den_faq</table>
                    </faq>
                    <post>
                        <table>den_faq</table>
                    </post>
                    <comment>
                        <table>den_faq_comment</table>
                    </comment>
                    <cat>
                        <table>den_faq_cat</table>
                    </cat>
                    <post_cat>
                        <table>den_faq_post_cat</table>
                    </post_cat>
                    <store>
                        <table>den_faq_store</table>
                    </store>
                    <cat_store>
                        <table>den_faq_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>den_faq_tags</table>
                    </tag>


                    <lfaq> 
                        <table>faq</table>
                    </lfaq>
                    <lpost>
                        <table>faq</table>
                    </lpost>
                    <lcomment>
                        <table>faq_comment</table>
                    </lcomment>
                    <lcat>
                        <table>faq_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>faq_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>faq_store</table>
                    </lstore>

                    <lcat_store>
                        <table>faq_cat_store</table>
                    </lcat_store>                

                </entities>
            </faq_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Den_Faq_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <faq>
                <class>Den_Faq_Block</class>
            </faq>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Den_Faq_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <faq_setup>
                <setup>
                    <module>Den_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faq_setup>
            <faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faq_write>
            <faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faq_read>
        </resources>
        <helpers>
            <faq>
                <class>Den_Faq_Helper</class>
            </faq>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <faq>
                        <type>singleton</type>
                        <class>Den_Faq_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </faq>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <faq>
                        <type>singleton</type>
                        <class>faq/observer</class>
                        <method>rewriteRssList</method>
                    </faq>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_faq_section>
                        <type>singleton</type>
                        <class>faq/observer</class>
                        <method>addBlogSection</method>
                    </add_faq_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>singleton</type>
                        <class>faq/observer</class>
                        <method>provideIE9Compatibility</method>
                    </modifyheader>
                </observers>
            </http_response_send_before>
        </events> 
        <template>
            <email>
                <faq_comments_email_template translate="label" module="faq">
                    <label>Comment Submitted</label>
                    <file>den_faq/comment_submitted.html</file>
                    <type>text</type>
                </faq_comments_email_template>
            </email>
        </template>
    </global>


    <default>
        <sitemap>
            <faq>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </faq>
        </sitemap>
        <faq>
            <faq>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <faqcrumbs>1</faqcrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <userte>1</userte>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </faq>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </faq>
    </default>
    
     <phpunit>
        <suite>
            <modules>
                <Den_Faq />
            </modules>
        </suite>
    </phpunit>

    
    
</config>
